.portlet.box > .portlet-body

 .sum_total {
          font-size:14px;
            background-color:#766363 !important;
            color:#fff;
      }
    .grand_total {
        font-size:14px;
            background-color:#52646C !important;
             color:#fff;
    }

/*********************
 GENERAL RESET & SETUP 
*********************/

.clearfix {*zoom: 1;}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {clear: both;}

* {outline: none !important;}

/* remove rounds from all elements */
div, input, select, textarea, span, img, table, td, th, p, a, button, ul, li {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* Body And container Styles */

body {
    /*font-family: 'open_sansregular';*/
    /*color: #555;*/
    color: #000; /*edited by aswini*/
    font-size: 12px;
    /*overflow:hidden;*/
}

.container {
    max-width: none !important;
}

.row-no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col-no-margin {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

#container {
    position: relative;
    /*height: 100%;*/
}

#container.fixed-header {margin-top:45px;}

#container>#content>.container {
    float: left;
    width: 100%; 
}

#content {
    background: #fff;
    margin-left: 250px;
    overflow: visible;
    padding-bottom: 30px;
    /*min-height: 100%;*/
}

#content>.wrapper {
    -webkit-transition: margin ease-in-out .1s;
    -moz-transition: margin ease-in-out .1s;
    -o-transition: margin ease-in-out .1s;
    transition: margin ease-in-out .1s;
    position: relative;
}

.sidebar-closed>#content {margin-left: 0;}

.page-header {
    border: 0;
    margin: 0;
    *zoom: 1;
}

.page-header:before,
.page-header:after {
    display: table;
    content: "";
    line-height: 0;
}

.page-header:after {clear: both;}

.page-title {
    float: left;
    padding: 10px 0;
}

.page-title h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #555;
    font-weight: 400;
    font-size: 25px;
}

.page-title span {
    display: block;
    font-size: 11px;
    color: #888;
    font-weight: normal;
}


footer {

}

/*.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:20px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url('../images/icon_top.png') no-repeat;
}*/

/*
    Pending Page Status Style
*/



.widthCss{width:220px;    display: inline-block;
    position: relative; padding-left:2px; padding-right:2px;}

.align-left {text-align: left;}

.align-center {
    text-align: center;
    margin: 0 auto;
}

.align-right {text-align: right;}

.full-width-fix {width: 100% !important;}

.row-bg {
    background-color: #f9f9f9;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 -20px !important;
    margin-bottom: 25px !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 25px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
}

.hide-default {display: none;}

.padding-top-5px {padding-top: 5px;}

.padding-bottom-5px {padding-bottom: 5px;}

.padding-left-5px {padding-left: 5px;}

.padding-right-5px {padding-right: 5px;}

.padding-top-10px {padding-top: 10px;}

.padding-bottom-10px {padding-bottom: 10px;}

.padding-left-10px {padding-left: 10px;}

.padding-right-10px {padding-right: 10px;}

.margin-top-0px {margin-top: 0;}

.spacing-10px {
    display: block;
    padding-top: 10px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: 300;
    font-family: 'open_sanssemibold';
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.30em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a {color: #333;}

a:hover {color: #333;}

span.blue {color: #54728c;}

span.green {color: #94b86e;}

span.red {color: #e25856;}

ul.inline li{
    display: inline;
    margin-right: 1em;
}
/*********************
 HEADER AND NAVBAR
*********************/
.mn_logo_new {
    width:370px;
}
.header {z-index: 10030;}

.navbar {
    min-height: 40px;
    filter: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar>.container {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-right {float: right;}

.navbar-left {float: left !important;}

.navbar-text {
    line-height: 48px;
    color: #fff;
}

.navbar {font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}

.navbar .navbar-brand {
    padding: 0;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    font-size: 18px;  
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    text-align: left;
    padding-left: 0;
    max-width: none;
    margin-left: 0 !important;
    margin-right: 14px;
}

.navbar .toggle-sidebar {
    float: left;
    margin-left: -50px;
    display: inline-block;
    position: relative;
    color: #fff;
    padding: 14px;
    font-size: 14px;
    text-decoration: none;
}

.navbar .toggle-sidebar:hover {background: rgba(255, 255, 255, 0.05);}

.navbar .navbar-nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.navbar .navbar-nav>li>a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar .divider-vertical {
    height: 48px;
    border-left: 1px solid #4d7496;
    border-right: 1px solid #fff;
}

.navbar .nav>li {
    line-height: 28px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar .nav>li:first-child {border-left: 1px solid rgba(0, 0, 0, 0.21);}

.navbar .nav>li.nav-toggle {display: none;}

.navbar .nav>li:active,
.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle,
.navbar .toggle-sidebar:active {
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25) inset, -1px 0 0 rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25) inset, -1px 0 0 rgba(0, 0, 0, 0.25) inset;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25) inset, -1px 0 0 rgba(0, 0, 0, 0.25) inset;
}

.navbar .nav>li>a {
    color: #fff;
    font-size: 13px;
    text-shadow: 0 1px 0 #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
}

.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus {
    color: #fff;   
    background: rgba(255, 255, 255, 0.05);
}

.navbar .nav>li>a>span {padding-left: 0px; margin-bottom:2px;}

.navbar .nav>li>a>span.username {font-family: 'open_sanssemibold';}

.navbar .nav>li>a .badge {
    position: absolute;
    font-size: 10px;
    font-weight: 300;
    top: 8px;
    right: 8px;
    text-align: center;
    height: 14px;
    background-color: #e73c3c;
    padding: 2px 4px;
    text-shadow: none;
}

/*************************************
 HEADER AND NAVBAR WITH DROPDOWN MENU
**************************************/

.navbar .dropdown-menu {
    position: absolute !important;
    float: left !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    left: auto;
}

/*ano*/ 
#MainContent_GridEngInfoCopy td:nth-child(7),#MainContent_GridEngInfo td:nth-child(7) {
  padding-left: 0px !important;
  text-align: center !important;
}


td {
/*height: 32px;*/
padding:1px;
 /*height: 30px !important;
            padding-left: 10px ;
            text-align: left ;
            font-size:12px !important;*/
}
.navbar .dropdown-toggle i.small {font-size: 10px;}

.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    font-size: 13px;
    text-align: left;
}

.dropdown-menu>li>a>i,
.dropdown-menu>li>i {margin-right: 5px;}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {background-color: #4d7496;}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.btn-group>.dropdown-menu,
.btn-group>.popover {font-size: 13px;}

.btn-group>.btn {font-size: 13px;}

.btn-group>.btn-lg {font-size: 14px;}

.btn-group>.btn-sm {font-size: 12px;}

.btn-group>.btn-xs {font-size: 11px;}

.dropdown-menu.extended {
    min-width: 180px;
    max-width: 320px;
    width: 260px;
    padding: 0;
}

.dropdown-menu.extended li {border-bottom: 1px solid #e6e6e6;}

.dropdown-menu.extended li:last-child,
.dropdown-menu.extended li.title {border-bottom: 0;}

.dropdown-menu.extended li.footer {text-align: center;}

.dropdown-menu.extended li p {
    padding: 6px 15px;
    background-color: #334d63;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}

.dropdown-menu.extended li a {
    font-size: 12px;
    padding: 10px;
    white-space: normal;
}

.dropdown-menu.extended li a:hover .time,
.dropdown-menu.extended li a:hover .task .percent {color: #fff;}

.dropdown-menu.extended li .message {padding: 7px;}

.dropdown-menu.extended li .time {
    font-weight: 300;
    position: absolute;
    right: 5px;
    color: #adadad;
    font-size: 11px;
    padding-top: 3px;
}

.dropdown-menu.extended li .label {
    padding: 7px;
    width: 24px;
    text-align: center;
    display: inline-block;
}

.dropdown-menu.extended li .task .percent {
    float: right;
    display: inline-block;
    color: #adadad;
    font-size: 11px;
}

.dropdown-menu.extended li .progress {margin: 5px 0;}

.dropdown-menu.extended li .photo img {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 6px;
}

.dropdown-menu.extended li .subject {display: block;}

.dropdown-menu.extended li .subject .from {
    font-size: 13px;
    font-weight: 600;
}

.dropdown-menu.extended li .text {
    display: block;
    white-space: normal;
    font-size: 12px;
    line-height: 20px;
    padding-top: 1px;
}

.userImg{
    width: 17px;
    height: 17px;
}

/*********************
SIDEBAR AND MENU
*********************/

#sidebar {
    width: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 700;
}

#sidebar * {
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#sidebar #sidebar-content {
    float: left;
    width: 100% !important;
}

#sidebar #divider {
    background: #ececec;
    min-height: 100%;
    position: absolute;
    margin-left: 250px;
    right: -1px;
    width: 8px;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}

#sidebar .selected {
    display: block;
    width: 8px;
    height: 25px;
    float: right;
    position: absolute;
    right: 0px;
    top: 7px;
}

#sidebar .slimScrollDiv {
    float: left !important;
    width: 100% !important;
}

#sidebar .slimScrollBar {
    width: 6px !important;
    opacity: 1 !important;
    right: 0 !important;
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#sidebar .sidebar-search {
    margin: 15px;
    margin-right: 23px;
}

#sidebar .sidebar-search .input-box {
    border-bottom: 1px solid #d9d9d9 !important;
    padding-bottom: 2px;
}

#sidebar .sidebar-search span {
    display: block;
    overflow: hidden;
}

#sidebar .sidebar-search input {width: 100%;}

#sidebar .sidebar-search input,
#sidebar .sidebar-search .submit {
    margin: 0;
    border: 0;
    box-shadow: none;
    color: #555;
    background-color: #f9f9f9 !important;
}

#sidebar .sidebar-search .submit {
    display: block;
    float: right;
    margin-top: 8px;
    opacity: .7;
}

#sidebar .sidebar-search .submit:hover,
#sidebar .sidebar-search .submit:focus {opacity: 1.0;}

/*********************
NAV UL LI STARTS HERE
*********************/
#sidebar ul#nav {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}

/*#sidebar ul#nav>li.current>a>.arrow {right: -3px !important;}*/

#sidebar ul#nav li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;    
}

#sidebar ul#nav li:last-child,
#sidebar ul#nav li.open,
#sidebar ul#nav li.open-default,
#sidebar ul#nav li.open-fixed {border-bottom: 0;}

#sidebar ul#nav li.current>ul {display: block;}

#sidebar ul#nav li.current .label.pull-right {margin-right: 10px;}

#sidebar ul#nav li.open-default>ul,
#sidebar ul#nav li.open-fixed>ul {display: block;}

#sidebar ul#nav li .label {
    padding: 5px 8px;
    text-shadow: none;
}

#sidebar ul#nav li .label.pull-right {
    position: absolute;
    right: 15px;
    margin-right: 20px;
}

#sidebar ul#nav li .arrow {
    line-height: 20px;
    position: absolute;
    right: 10px;
}

#sidebar ul#nav li a {
    display: block;
    position: relative;
    margin: 0;
    border: 0;
    padding: 9px 9px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 200;
    text-transform: uppercase;
}


#sidebar ul#nav li a i {
    padding-right: 10px;
    float: left;
    line-height: 20px;
}

#sidebar ul#nav>li.current,
#sidebar ul#nav>.open {background: #fdfdfd;}

#sidebar ul#nav ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

#sidebar ul#nav ul.sub-menu a {
    font-weight: normal;
    /*//padding: 12px 15px 12px 20px;*/
    text-transform: none;
}

#sidebar ul#nav ul.sub-menu a:hover {background: rgba(255, 255, 255, 0.5);}

#sidebar ul#nav ul.sub-menu a:active {background: #ebebeb;}

#sidebar ul#nav ul.sub-menu li.current {background: #f9f9f9;}

#sidebar ul#nav ul.sub-menu ul.sub-menu {
    margin: 5px;
    margin-right: 0;
    margin-left: 40px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}

#sidebar ul#nav ul.sub-menu ul.sub-menu>li {
    border-left: 1px solid #d1d1d1;
    border-bottom: 0;
}

#sidebar ul#nav ul.sub-menu ul.sub-menu>li a {
    font-size: 12px;
    padding: 7px 15px;
}

#sidebar ul#nav ul.sub-menu ul.sub-menu>li a:hover {background: rgba(255, 255, 255, 0.3);}

#sidebar ul#nav ul.sub-menu ul.sub-menu>li a:active {background: #ebebeb;}

#sidebar ul#nav ul.sub-menu ul.sub-menu li:first-child>a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#sidebar .sidebar-title {
    background-color: #ececec;
    padding: 10px;
    font-weight: 600;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #dfdfdf;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.sidebar-fixed {
    position: fixed !important;
    top: 52px;
}

.fill-nav-space {height: 52px;}

.sidebar-closed>#sidebar {display: none;}

/*********************
BRADCRUMBS STYLES
*********************/

.crumbs {
    margin: 0 -20px;
    height: 40px;
    background: #ebeef5;
    border-bottom: 1px solid #d9d9d9;
}


.crumbs .breadcrumb li {
    float: left;
    font-size: 12px;
    padding-top: 2px;
    padding-right: 5px;
}

.crumbs .breadcrumb li a {color: #555;}

.crumbs .breadcrumb li a:hover {
    text-decoration: none;
    color: #4d7496;
}

.crumbs .breadcrumb li i {
    color: #6f6f6f;
    padding: 0 5px;
}

.crumbs .breadcrumb li.current a {color: #949494 !important;}

.crumbs .crumb-buttons {
    float: right;
    list-style: none;
    margin-right: 21px;
    margin-left: 0;
    height: 0;
}

.crumbs .crumb-buttons>li {
    float: left;
    font-size: 12px;
    border-right: 1px solid #d9d9d9;
    position: relative;
}

.crumbs .crumb-buttons>li:first-child,
.crumbs .crumb-buttons>li.first {border-left: 1px solid #d9d9d9;}

.crumbs .crumb-buttons>li>a {
    color: #555;
    text-decoration: none;
    white-space: nowrap;
    padding: 0 10px;
    line-height: 39px;
    display: inline-block;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.crumbs .crumb-buttons>li>a:hover {background: #fff;}

.crumbs .crumb-buttons>li>a:active {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: #ebebeb;
}

.crumbs .crumb-buttons>li>i,
.crumbs .crumb-buttons>li>a>i {padding-right: 5px;}

.crumbs .crumb-buttons>li>i.left-padding,
.crumbs .crumb-buttons>li>a>i.left-padding {
    padding-right: 0;
    padding-left: 5px;
}

.crumbs .crumb-buttons>li.open {background: #fff;}

.breadcrumb>li+li:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
}

/***************************
PORTLETS - BOXED AND COLORED
****************************/
.portlet  {
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
}

.portlet > .portlet-title {  
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.portlet > .portlet-title:after,
.portlet > .portlet-title:before {
    content: "";
    display: table;
    line-height: 0;
}

.portlet > .portlet-title:after {
    clear: both;
}

.portlet > .portlet-title > .caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 7px; 
}

.portlet > .portlet-title > .caption i {
    float: left;
    margin-top: 5px;
    display: inline-block !important;
    font-size: 13px;
    margin-right: 5px;
    color: #666;
}

.portlet.blue > .portlet-title > .caption, .portlet-title.blue > .caption, 
.portlet.green > .portlet-title > .caption, .portlet-title.green > .caption,
.portlet.yellow > .portlet-title > .caption, .portlet-title.yellow > .caption,
.portlet.red > .portlet-title > .caption, .portlet-title.red > .caption,
.portlet.purple > .portlet-title > .caption, .portlet-title.purple > .caption,
.portlet.grey > .portlet-title > .caption, .portlet-title.dark-grey > .caption {
    color: #fff;
}

.portlet.box.blue > .portlet-title > .caption > i, 
.portlet.box.green > .portlet-title > .caption > i,
.portlet.box.grey > .portlet-title > .caption > i,
.portlet.box.yellow > .portlet-title > .caption > i, 
.portlet.box.red > .portlet-title > .caption > i,  
.portlet.box.purple > .portlet-title > .caption > i, 
.portlet.box.light-grey > .portlet-title > .caption > i{
    color: #fff;
}

.sortable .portlet > .portlet-title {
    cursor: move;
}

.portlet > .portlet-title > .tools,
.portlet > .portlet-title > .actions
{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    float: right;
}

.portlet > .portlet-title > .tools > a {
    display: inline-block;
    height: 16px;
    margin-left:5px;
}

.portlet > .portlet-title > .actions > .dropdown-menu i {
    color: #000 !important;
}

.portlet > .portlet-title > .tools > a.remove {
    background-image:url(../images/portlet-remove-icon.png);
    background-repeat: no-repeat;
    width: 11px;
}

.portlet > .portlet-title > .tools > a.config {
    background-image:url(../images/portlet-config-icon.png);
    background-repeat: no-repeat;
    width: 12px;
}

.portlet > .portlet-title > .tools > a.reload {
    background-image:url(../images/portlet-reload-icon.png);
    width: 13px;
}

.portlet > .portlet-title > .tools > a.expand {
    background-image:url(../images/portlet-expand-icon.png);
    width: 14px;
}

.portlet > .portlet-title > .tools > a.collapse {
    background-image:url(../images/portlet-collapse-icon.png);
    width: 14px;
}

.portlet > .portlet-title > .tools > a:hover {
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity:.6;  
    filter:'alpha(opacity=60)';
}

.portlet > .portlet-title > .actions > .btn-group {
    margin-top: -12px;
}

.portlet > .portlet-title > .actions > .btn {
    padding: 4px 10px;
    margin-top: -13px;
}

.portlet > .portlet-title > .actions > .btn-group > .btn {
    padding: 4px 10px;
    margin-top: 9px;
    height: inherit;
}

.portlet > .portlet-title > .actions > .btn.mini {
    padding: 4px 10px;
    margin-top: -4px;
    height: inherit;
}

.portlet > .portlet-title > .pagination.pagination-small {
    float: right !important;
    display: inline-block !important;
    margin: 0px;
    margin-top: -2px;
}

.portlet > .portlet-body {
    clear: both;  
    padding: 0;  
}

.portlet > .portlet-body.light-blue, .portlet.light-blue {
    background-color: #a9ebfb  !important;
}

.portlet > .portlet-body.blue, .portlet.blue {
    /*background-color: #00ccff !important;*/
}

.portlet > .portlet-body.red, .portlet.red {
    background-color: #fb6767 !important;
}

.portlet > .portlet-body.yellow, .portlet.yellow {
    /*background-color: #ffd200 !important;*/
}

.portlet > .portlet-body.green, .portlet.green {
    background-color: #85c744 !important;
}

.portlet > .portlet-body.purple, .portlet.purple {
    background-color: #c72fff !important;
}

.portlet > .portlet-body.light-grey, .portlet.light-grey {
    background-color: #bcbcbc !important;
}
.grey, .portlet.grey {
    background-color: #717171 !important;
}


/*  draggable girds */

.ui-sortable-placeholder { 
    border: 1px dotted black; 
    visibility: visible !important; 
    height: 100% !important; 
}

.ui-sortable-placeholder * { 
    visibility: hidden; 
}

.sortable-box-placeholder {
    background-color: #f5f5f5;
    border: 1px dashed #DDDDDD;
    display: block;
    /* float: left;*/
    margin-top: 0px !important;
    margin-bottom: 24px !important;
}

.sortable-box-placeholder * {
    visibility:hidden;
}

/***
Solid colored portlet
***/
.portlet.solid {
    padding: 10px;
}

.portlet.solid > .portlet-title > .tools {
    margin-top: 2px;
    border: 0px;
}

.portlet.solid > .portlet-title {
    margin-bottom: 5px;
    border: 0px;
}

.portlet.solid.bordered > .portlet-title {
    margin-bottom: 15px;
}

.portlet.solid.red > .portlet-title,
.portlet.solid.red > .portlet-title i,
.portlet.solid.red > .portlet-body,

.portlet.solid.green > .portlet-title,
.portlet.solid.green > .portlet-title i,
.portlet.solid.green > .portlet-body,

.portlet.solid.yellow > .portlet-title,
.portlet.solid.yellow > .portlet-title i,
.portlet.solid.yellow > .portlet-body,

.portlet.solid.grey > .portlet-title,
.portlet.solid.grey > .portlet-title i,
.portlet.solid.grey > .portlet-body,

.portlet.solid.purple > .portlet-title,
.portlet.solid.purple > .portlet-title i,
.portlet.solid.purple > .portlet-body,

.portlet.solid.blue > .portlet-title,
.portlet.solid.blue > .portlet-title i,
.portlet.solid.blue > .portlet-body {
    border: 0;
    color: #fff;
}

.portlet.bordered {
    border-left: 2px solid #ddd;
}

/***************
Box portlet
****************/
.td-large {
width: 250px;
}

.portlet.box {
    padding:0px !important
}

.portlet.box > .portlet-title {  
    padding:5px 10px 3px 10px;
    border-bottom: 1px solid #eee;
    color: #fff !important;
}

.portlet.box > .portlet-title > .actions > .btn > i {
    color: #fff !important;
}

.portlet.box > .portlet-title > .tools {
    margin-top: 3px;
}

.portlet.box > .portlet-title > .tools > a.remove, 
.portlet.solid > .portlet-title > .tools > a.remove {
    background-image:url(../images/portlet-remove-icon-white.png);
}

.portlet.box > .portlet-title > .tools > a.config,
.portlet.solid > .portlet-title > .tools > a.config {
    background-image:url(../images/portlet-config-icon-white.png);
}

.portlet.box > .portlet-title > .tools > a.reload,
.portlet.solid > .portlet-title > .tools > a.reload {
    background-image:url(../images/portlet-reload-icon-white.png);
}

.portlet.box > .portlet-title > .tools > a.expand,
.portlet.solid > .portlet-title > .tools > a.expand {
    background-image:url(../images/portlet-expand-icon-white.png);
}

.portlet.box > .portlet-title > .tools > a.collapse,
.portlet.solid > .portlet-title > .tools > a.collapse {
    background-image:url(../images/portlet-collapse-icon-white.png);
}

/* portlet buttons */
.portlet.box > .portlet-body {
background-color: #fff;
border-radius: 8px !important;
padding: 10px 0px;
}

.portlet.box > .portlet-title {  
    margin-bottom: 0px;
}

.portlet.box.blue > .portlet-title {
   background-color: #333;
border-top-left-radius: 8px !important;
border-top-right-radius: 8px !important;
} 

.portlet.box.blue {  
   -moz-border-top-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
box-shadow: 5px 5px 5px #666;
border-color: -moz-use-text-color #333 #333;
border-width: 0px 1px 1px;
border-style: none solid solid;
-moz-border-right-colors: none;
border-radius: 8px !important;
}

.portlet.box.red > .portlet-title {
    background-color: #fb6767;
} 

.portlet.box.red {  
    border: 1px solid #fb6767;
    border-top: 0;
}

.portlet.box.yellow > .portlet-title {
    background-color: #999;
border-top-left-radius: 8px !important;
border-top-right-radius: 8px !important;
} 

.portlet.box.yellow {  
   border-right: 1px solid #999;
border-width: 0px 1px 1px;
border-style: none solid solid;
border-color: -moz-use-text-color #999 #999;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-radius: 8px !important;
box-shadow: 5px 5px 5px #666;
}

.portlet.box.green > .portlet-title {
    background-color: #85c744;
} 

.portlet.box.green {  
    border: 1px solid #85c744;
    border-top: 0;
}

.portlet.box.purple > .portlet-title {
    background-color: #c72fff;
} 

.portlet.box.purple {  
    border: 1px solid #c72fff;
    border-top: 0;
}

.portlet.box.grey > .portlet-title {
    background-color: #717171;
} 

.portlet.box.grey {  
    border: 1px solid #717171;
    border-top: 0;
}

.portlet.box.light-grey > .portlet-title {
    background-color: #bcbcbc;
} 

.portlet.box.light-grey {  
    border: 1px solid #bcbcbc;
    border-top: 0;
}


/********************************
MAIN UI BUTTONS STYLES START HERE
*********************************/

.btn {
    background-color: #e5e5e5;
    background-image: none;
    filter: none;
    border: 0;
    padding: 7px 14px; 
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;      
    color: #333333;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}


.btn:active{
    background: #b9b9b9!important;
}

.btn.red-stripe{
    border-left: 3px solid #fb6767;
}

.btn.blue-stripe{
    border-left: 3px solid #00ccff;
}

.btn.purple-stripe{
    border-left: 3px solid #c72fff;
}

.btn.green-stripe{
    border-left: 3px solid #85c744;
}

.btn.yellow-stripe {
    border-left: 3px solid #ffd200;
}

/*  Red */
.btn.red {
color: #333;
text-shadow: none;
background-color: #ebeef5;
border-bottom-color: #ebeef5;
}



/*  Blue */
.btn.transparent  {
    color: black;  
    text-shadow: none;  
    background-color: transparent;
}

.btn.blue {
    color: #fff;
margin-left: auto;
margin-right: auto;
overflow: auto;
cursor: pointer;
top: 0px;
position: relative;
/* background: #0582b7; */
background: -moz-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
/* background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0582b7),color-stop(29%,#0478af),color-stop(85%,#025c98),color-stop(100%,#035995)); */
/* background: -webkit-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%); */
background: -o-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
background: -ms-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
background: linear-gradient(to bottom,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
-pie-background: linear-gradient(top,#0582b7 0,#035995);
behavior: url(/common/assets/css/pie/PIE.htc);
padding: 7px;
width: 100px;
}
.btn.blue:hover, 
.btn.blue:focus, 
.btn.blue[disabled],
.btn.blue.disabled {  
    background-color: #02bfee !important;
    color: #fff !important;
}

.btn.blue.active,
.btn.blue:active{
    background-color: #10abd2 !important;
}

.btn-group .btn.blue.dropdown-toggle {
    background-color: #10abd2 !important;
}
.btn-group .btn.blue:hover, 
.btn-group .btn.blue:focus, 
.btn-group .btn.blue.disabled,
.btn-group .btn.blue[disabled] { 
    background-color: #1ea5c7 !important;
    color: #fff !important;
}

.btn-group .btn.blue:active, 
.btn-group .btn.blue.active {
    background-color: #10abd2 !important;
}

/*  Green */
.btn.green {
    color: #fff;
    margin-left: auto;
    margin-right: auto;

    overflow: auto;
    cursor: pointer;
    top: -9px;
    position: relative;
    /* background: #0582b7; */
    background: -moz-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
    /* background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0582b7),color-stop(29%,#0478af),color-stop(85%,#025c98),color-stop(100%,#035995)); */
    /* background: -webkit-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%); */
    background: -o-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
    background: -ms-linear-gradient(top,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
    background: linear-gradient(to bottom,#0582b7 0,#0478af 29%,#025c98 85%,#035995 100%);
    -pie-background: linear-gradient(top,#0582b7 0,#035995);
    behavior: url(/common/assets/css/pie/PIE.htc);
    padding: 7px;
    width: 100px;
    font-weight: 600;
    margin-top: 5px;
}


.btn.green:hover, 
.btn.green:focus, 
.btn.green.disabled, 
.btn.green[disabled]{ 
    background-color: #002a37 !important;
	border-bottom-color: #00627c !important;
    color: #fff !important;
}

.btn.green.active, 
.btn.green:active{
    background-color: #002a37 !important;
}

.btn-group .btn.green.dropdown-toggle {
    background-color: #002a37 !important;
    color: #fff;
}
.btn-group .btn.green:hover, 
.btn-group .btn.green:focus, 
.btn-group .btn.green.disabled,
.btn-group .btn.green[disabled] { 
    background-color: #002a37 !important;
    color: #fff !important;
}

.btn-group .btn.green:active, 
.btn-group .btn.green.active {
    background-color: #002a37 !important;
}

/*  Purple */
.btn.purple {
    color: white; 
    text-shadow: none;    
    background-color: #c72fff;
    border-bottom-color: #9313c2 !important;
}
.btn.purple:hover, 
.btn.purple:focus,  
.btn.purple.disabled,
.btn.purple[disabled] { 
    background-color: #b723ed !important;
    color: #fff !important;
}

.btn.purple:active, 
.btn.purple.active{
    background: #9313c2 !important;
}

.btn-group .btn.purple.dropdown-toggle {
    background-color: #c72fff !important;
    color:#fff;
}
.btn-group .btn.purple:hover, 
.btn-group .btn.purple:focus,  
.btn-group .btn.purple.disabled,
.btn-group .btn.purple[disabled] { 
    background-color: #b723ed !important;
    color: #fff !important;
}

.btn-group .btn.purple:active, 
.btn-group .btn.purple.active{
    background-color: #9313c2 !important;
}

/******  Yellow **********/
.btn.yellow {
    color: white; 
    text-shadow: none;    
    background-color: #ffd200;
    border-bottom-color: #e0b902 !important;
}

.btn.yellow:hover, 
.btn.yellow:focus, 
.btn.yellow.disabled,
.btn.yellow[disabled] { 
    background-color: #f2c701 !important;
    color: #fff !important;
}

.btn.yellow:active, 
.btn.yellow.active {
    background-color: #e0b902 !important;
}

.btn-group .btn.yellow.dropdown-toggle {
    background-color: #ffd200 !important;
    color:#fff;
}
.btn-group .btn.yellow:hover, 
.btn-group .btn.yellow:focus,  
.btn-group .btn.yellow.disabled,
.btn-group .btn.yellow[disabled] { 
    background-color: #f2c701 !important;
    color: #fff !important;
}

.btn-group .btn.yellow:active, 
.btn-group .btn.yellow.active{
    background-color: #e0b902 !important;
}

/*  Black */
.btn.black {
    color: white; 
    text-shadow: none;    
    background-color: #555555;
}
.btn.black:hover, 
.btn.black:focus, 
.btn.black:active, 
.btn.black.active, 
.btn.black.disabled,
.btn.black[disabled] { 
    background-color: #222222 !important;
    color: #fff !important;
}

.btn-group .btn.black.dropdown-toggle {
    background-color: #555555 !important;
    color:#fff;
}
.btn-group .btn.black:hover, 
.btn-group .btn.black:focus, 
.btn-group .btn.black:active, 
.btn-group .btn.black.active, 
.btn-group .btn.black.disabled,
.btn-group .btn.black[disabled] { 
    background-color: #222222 !important;
    color: #fff !important;
}

.mini 
{
    height: 13px;
    font-size: 11px !important; 
    line-height: 13px;
    padding: 4px 10px;
    height: inherit;
}

.big
{
    height: 38px;
    font-size: 18px; 
    line-height: 38px;  
    padding: 8px 16px;
    height: inherit;
}

button.btn.big,
input[type="button"].btn.big,
input[type="submit"].btn.big {
    height: 54px;
    padding-top: 9px;
    padding-bottom: 8px;
}

button.btn.mini,
input[type="button"].btn.mini,
input[type="submit"].btn.mini {
    height: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
}

a.btn.big.btn-block {
    height: 54px;
}

.btn-icon {
    margin: 10px 0;
    padding: 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background: #f3f3f3;
    border: 1px solid #d9d9d9;
    border: 1px solid rgba(0,0,0,0.13);
}

.btn-icon:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #333;
    background-color: #f8f8f8;
}

.btn-icon:active {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.btn-icon i {margin: 0;}

.btn .label {
    position: absolute;
    font-size: 11px !important;
    font-weight: 300;
    top: -3px;
    right: 5px;
    padding: 3px 7px 3px 7px;
    color: white !important;
    text-shadow: none;
    border-width: 0;
    border-style: solid;
    -webkit-border-radius: 12px!important;
    -moz-border-radius: 12px!important;
    border-radius: 12px!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.input-block-level {
    display: block;
    width: 100%;
}
/********************************
    UI PROGRASS BAR STYLES
*********************************/


.progress .progress-bar {
    background-image: none;
    background-color: #14b4dc;
}

.progress-success .progress-bar,
.progress .progress-bar-success,
.progress-success.progress-striped .progress-bar,
.progress-striped .progress-bar-success {background-color: #85c744;}

.progress-warning .progress-bar,
.progress .progress-bar-warning,
.progress-warning.progress-striped .progress-bar,
.progress-striped .progress-bar-warning {background-color: #ffd200;}

.progress-danger .progress-bar,
.progress .progress-bar-danger,
.progress-danger.progress-striped .progress-bar,
.progress-striped .progress-bar-danger {background-color: #fb6767;}

.progress {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.progress.progress-mini {height: 6px;}

.progress.progress-small {height: 12px;}

.progress.progress-large {height: 25px;}

.progress-striped .progress-bar {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/*For Demo Grid System*/
.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}


/**********************************************
            Form Controls
*********************************************/
form {margin: 0 5px;}

label,
input,
button,
select,
textarea {font-size: 13px !important;}

label {font-weight: 400;}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-appearance: none !important;
    color: #555;
    padding: 4px 6px !important;
    font-weight: normal;
    vertical-align: top;
    background-color: #fff;
    background-image: none !important;
    filter: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #999999;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-control1 {
    height: 15px;
	width:100px;
    font-size: 13px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.currents {background:#065467; }

.form-control {
    height: 32px;
    font-size: 13px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

select.form-control,
textarea.form-control {padding: 0px 1px 0px 5px;}

select.form-control:focus,
textarea.form-control:focus {
    border-color: #999999;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.input-xxlarge {width: 465px;}

.multiple {width: 100%;}

.form-control.input-small {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 30px;
}

.input-sm {
    height: 26px;
    font-size: 12px !important;
}

.input-lg {
    height: 45px;
    font-size: 16px !important;
}

.input-width-mini {width: 60px !important;}

.input-width-small {width: 90px !important;}

.input-width-medium {width: 150px !important;}

.input-width-large {width: 210px !important;}

.input-width-xlarge {width: 270px !important;}

.input-width-xxlarge {width: 530px !important;}

.tt-suggestions{ width: 200px; background: #fff;}

textarea {border-color: #ccc;}

textarea.auto {
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;
    transition: height .2s;
}

textarea.col-md-12 {resize: vertical;}

input,
textarea {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.multiple {
    padding: 8px 10px;
    height: 300px !important;
    font-size: 12px;
    border: 1px solid #dadada;
}

input[type="file"] {
    height: auto;
    line-height: normal;
    margin-top: 5px;
}

.checkbox,
.radio {font-weight: normal;}

.next-row {
    display: block;
    margin-top: 10px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #f9f9f9;
    color: #adadad;
}

.help-block,
.help-inline {color: #adadad;}

.control-label>i {margin-right: 6px;}

.controls {position: relative;}

.field-icon {
    position: absolute;
    top: 9px;
    right: 25px;
    display: block;
    font-size: 14px;
    line-height: 1;
}

.input-icon>input {padding-left: 30px !important;}

.input-icon>i {
    color: #d1d1d1;
    display: block !important;
    position: absolute !important;
    z-index: 1;
    margin: 8px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}

.input-group-addon {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 13px;
    padding: 6px 6px;
    background-color: #f9f9f9;
}

.input-group>.input-group-btn .btn {
    margin-right: -1px;
    margin-left: -1px;
}

label>span.required {color: #e25856;}

.form-group .help-block:not(.error) {display: block !important;}

.form-group select.select2-offscreen+.help-block {
    padding-top: 10px;
    clear: both;
}

.form-group.error .help-block,
.form-group.warning .help-block,
.form-group.success .help-block,
.form-group.info .help-block {display: inline-block;}

.form-horizontal .form-group {
    padding-left: 0;
    padding-right: 0;
   /* padding-top: 10px;
    padding-bottom: 10px;*/
}

.form-horizontal .control-label {
    font-weight: normal;
    padding-top: 5px;
}

.form-vertical {
    margin-left: -10px;
    margin-right: -10px;
}

.form-vertical.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.form-vertical .help-block {margin-bottom: 0;}

.form-vertical .select2-container.error {margin-bottom: 10px;}

.form-vertical .form-group {
    padding-left: 15px;
    padding-right: 15px;
}

.form-vertical .form-group:first-child {padding-top: 5px;}

.form-vertical .form-group:last-child {padding-bottom: 0;}

.form-vertical .form-group .control-label {padding-bottom: 5px;}

.row-border .form-group {
   border-top: 1px solid #ECECEC;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    padding-right: 30px;
    margin-left: 0px;
margin-right: 0px;
padding-left:35px;
  
}

.row-border .form-group:first-child {
    padding-right: 30px;
    border-top: 0px none;
    padding-top: 5px;
}

.form-actions {
    padding: 19px 20px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #e5e5e5;
    *zoom: 1;
}

.form-actions .btn.pull-right {margin-left: 3px;}

.form-actions:before,
.form-actions:after {
    display: table;
    line-height: 0;
    content: "";
}

.form-actions:after {clear: both;}

.box .form-actions {
    margin-bottom: -10px;
}

.radio>div.radio,
.radio-inline>div.radio,
.checkbox>div.checker,
.checkbox-inline>div.checker {
    margin-left: -20px;
    padding-top: 0;
}

.radio>div.radio input[type="radio"],
.checkbox>div.checker input[type="checkbox"] {margin-left: 0;}

.error{
    color: #f26c4f;
}

/****************************************************
        Gallery
******************************************************/

/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

#filters {
    margin-bottom: 25px;
}

#filters li {
    padding: 0;
    display: inline;
    float: left;
}

#filters li:last-child {
    background: none;
}

#filters li a {
    display: block;
    color: #373737;
    text-decoration: none;
    padding: 7px 15px;
    border: 3px solid transparent;
}

#filters li a:hover, #filters li a.selected {
    border: #ebebeb solid 3px;
}

.portfolio_inner {
    position: relative;
}

.portfolio_inner img {
    width: 100%;
}

.portfolio_over {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    background-color: #d5d5d5;
    background: rgba(213,213,213, 0.8);
    top: 0;
    left: 0;
}
.portfolio_over a.portfolio-link,
.portfolio_over a.portfolio-zoom,
.portfolio_over a.gg_love {
    color: #fff;
    font-size: 36px;
    position: absolute;
    -moz-transition:color .5s;
    -webkit-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}
.portfolio_over a:hover {
    color: #000;
    text-decoration: none;
    -moz-transition:color .5s;
    -webkit-transition:color .5s;
    -o-transition:color .5s;
    transition:color .5s;
}
.portfolio-tags li {
    padding: 0 !important;
}
.portfolio-tags {
    margin: -10px 0 25px;
}
.portfolio_over .portfolio-tags {
    margin-top: 0;
    margin-bottom: 0px;
}
.portfolio-tags li:after {
    content: "/";
    margin-left: 12px;
    margin-right: 9px;
}
.portfolio-tags li:last-child:after{
    margin-left: 0;
    content: "";
}
.portfolio_over h5,
.portfolio_over h2 {
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
.portfolio_over a {
    color: #fff;
}
.portfolio-buttons {
    margin-top: 30px;
    margin-bottom: 25px;
}
.portfolio-buttons a {
    margin: 0 10px 0 0;
}
.portfolio-buttons a.gg_love {
    color: #bbbbbb;
}
.portfolio-buttons a.gg_love:hover {
    text-decoration: none;
}
.portfolio-buttons a.gg_love:hover i {
    color: #57b3ae;
}


/* PORTFOLIO 4 COL */
.recent_work_inner .portfolio_over a.portfolio-link,
.column-4 .portfolio_over a.portfolio-link {
    right: 60%;
    margin-right: -34px;
}
.recent_work_inner  .portfolio_over a.portfolio-zoom,
.column-4 .portfolio_over a.portfolio-zoom {
    left: 45%;
    margin-left: -35px;
}
.recent_work_inner  .portfolio_over a.gg_love,
.column-4 .portfolio_over a.gg_love {
    right: 60%;
    margin-right: -90px;
}

.column-4 .portfolio-item {
    width: 215px;
    margin: 10px;
}
.recent_work_inner .portfolio_over .portfolio-tags,
.column-4 .portfolio-item .portfolio_over .portfolio-tags {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    color: #fff;
}
.recent_work_inner .portfolio_over a.portfolio-link,
.recent_work_inner .portfolio_over a.portfolio-zoom,
.recent_work_inner .portfolio_over a.gg_love,
.column-4 .portfolio_over a.portfolio-link,
.column-4 .portfolio_over a.portfolio-zoom,
.column-4 .portfolio_over a.gg_love {
    font-size: 18px;
}

/* PORTFOLIO 4-4 COL */
.column-4-2 .portfolio_over a.portfolio-link {
    right: 50%;
    margin-right: -35px ;
}
.column-4-2 .portfolio_over a.portfolio-zoom {
    left: 50%;
    margin-left: -35px ;
}
.column-4-2 .portfolio_over a.gg_love {
    top: 0 !important;
    right: 0;
    font-size: 14px;
    display: block;
    padding: 3px 5px;
    background: #57b3ae;

}
.column-4-2 .portfolio-item {
    width: 215px;
    margin: 10px;
}
.column-4-2 .portfolio-item .portfolio_over .portfolio-tags {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    color: #fff;
}
.column-4-2 .portfolio_over a.portfolio-link,
.column-4-2 .portfolio_over a.portfolio-zoom {
    font-size: 26px;
}


/****************************************************
        UI General
******************************************************/

.alert strong { margin-right: 15px; }

.label{ font-weight: normal; }

.label-primary{ background-color: #00ccff; }

.label-success, 
.badge-success { background-color: #85c744; }

.label-info,
.badge-info { background-color: #00ccff; }

.label-warning, 
.badge-warning { background-color: #ffd200; }

.label-danger, 
.badge-important { background-color: #fb6767; }

.label-inverse,
.badge-inverse { background-color: #333333; }


/*            Sliders*/

.bg-red {
    background-image: none !important;
    background-color: #fb6767 !important;
}
.bg-yellow{ 
    background-image: none !important;
    background-color: #ffd200 !important; 
}

.bg-purple{
    background-image: none !important;
    background-color: #c72fff !important;
}

#slider.bg-red{
    border-color: #fb6767 !important;
}

#slider-range.bg-yellow{
    border-color: #ffd200 !important;
}

#sliderMAX.bg-purple{
    border-color: #c72fff !important;
}

.ui-widget-header {
    background: #0582b7;
}
#slider-range .ui-widget-header {
    background: #fb6767 !important;
}

#eq span {
    height:120px; float:left; margin:15px
}



ul.the-icons li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.faIcons .col-md-3,
.faIcons .col-sm-4{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #777777;
}


/****************************************************
                Tabs & Accordions
******************************************************/

/***
Custom portlet tabs
***/
.portlet-tabs .nav-tabs {
    position: relative;
    margin-top: -41px;
    margin-right: 10px;
}

.portlet-tabs .nav-tabs > li {
    float: right;
}

.portlet-tabs .nav-tabs {
    border-bottom: none;
}

.portlet-tabs .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 10px;
  line-height: 16px;
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0;    
  border-right: 0;
     -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
             border-radius: 0px;   
}

.portlet-tabs .nav-tabs > li:last-child > a {
  border-right:0;
}

.portlet-tabs .nav-tabs > li {
  margin-left: 1px;
}

.portlet-tabs .nav-tabs > li.active {
  border-top-color: transparent;
}

.portlet-tabs .nav-tabs > li.active > a {
  margin-bottom: 0px;
  border-bottom: 0;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0;    
  border-right: 0;
  background-color: none !important;
  border-top-color:transparent !important;
}

.portlet-tabs .nav-tabs > li > a:hover {   
  margin-bottom: 0;
  border-bottom-color: transparent;
  margin-left: 0;
  margin-right: 0;
  border-left: 0;    
  border-right: 0;
  background-color: none !important;
  border-top-color:transparent;
  background-color: #fff;
}  

.portlet-tabs .nav-tabs > .active > a  {
  color: #555555;
  cursor: default;
  background-color: #fff;
}

.portlet-tabs .nav-tabs > .active > a:hover {
  background-color: #fff !important;
}

.portlet-tabs .tab-content {
  padding: 10px !important;
  margin: 0px;
  margin-top: -10px;
}

.portlet.tabbable .portlet-body {
  padding: 0px;
}

.tab-pane > p:last-child {
  margin-bottom: 0px;
}

/****************
                Tabs
***********/

.tabbable-custom {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 15px;
}

.tabbable-custom>.nav-tabs {
    border: 0;
    margin: 0;
}

.tabbable-custom>.nav-tabs>li {
    margin-right: 2px;
    border-top: 2px solid transparent;
}

.tabbable-custom>.nav-tabs>li.active {
    border-top: 3px solid #4d7496;
    margin-top: 0;
    position: relative;
}

.tabbable-custom>.nav-tabs>li.active>a {
    border-top: 0;
    font-weight: 400;
}

.tabbable-custom>.nav-tabs>li.active>a:hover,
.tabbable-custom>.nav-tabs>li.active>a:active {background-color: #fff;}

.tabbable-custom>.nav-tabs>li>a {
    margin-right: 0;
    padding: 5px 10px;
}

.tabbable-custom>.nav-tabs>li>a:hover,
.tabbable-custom>.nav-tabs>li>a:active {background-color: #f9f9f9;}

.tabbable-custom>.tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px;
    overflow: auto;
}

.tabbable-custom.tabbable-full-width .nav-tabs>li>a {
    font-size: 15px;
    padding: 8px 20px;
    color: #555;
}

.tabbable-custom.tabbable-full-width>.tab-content {
    border-left: none;
    border-right: 0;
    border-bottom: 0;
    padding: 20px 0;
}

.tabs-below.tabbable-custom>.nav-tabs li {
    border-top: 0;
    border-bottom: 2px solid transparent;
    margin-top: -1px;
}

.tabs-below.tabbable-custom>.nav-tabs li.active {
    border-top: 0;
    border-bottom: 3px solid #4d7496;
    margin-bottom: 0;
    position: relative;
}

.tabs-below.tabbable-custom>.nav-tabs li.active a,
.tabs-below.tabbable-custom>.nav-tabs li.active a:hover,
.tabs-below.tabbable-custom>.nav-tabs li.active a:focus {border-bottom: 0;}

.tabs-below.tabbable-custom>.nav-tabs li a:hover,
.tabs-below.tabbable-custom>.nav-tabs li a:focus {border-bottom: 1px solid #eee;}

.tabs-left.tabbable-custom>.nav-tabs {float: left;}

.tabs-left.tabbable-custom>.nav-tabs li {
    border-left: 3px solid transparent;
    margin-right: 0;
    margin-top: 0;
}

.tabs-left.tabbable-custom>.nav-tabs li.active {
    border-top: 0;
    border-left: 3px solid #4d7496;
    margin-top: 0;
    margin-right: -1px;
    position: relative;
}

.tabs-left.tabbable-custom>.nav-tabs li.active a {
    border-top: 1px solid #ddd;
    border-left: 1px solid transparent;
}

.tabs-left.tabbable-custom>.nav-tabs li a:hover,
.tabs-left.tabbable-custom>.nav-tabs li a:focus {
    border-bottom: 1px solid #eee;
    border-right: 0;
}

.tabs-right.tabbable-custom>.nav-tabs {float: right;}

.tabs-right.tabbable-custom>.nav-tabs li {
    border-right: 3px solid transparent;
    margin-right: 0;
    margin-top: 0;
}

.tabs-right.tabbable-custom>.nav-tabs li.active {
    border-top: 0;
    border-right: 3px solid #4d7496;
    margin-top: 0;
    margin-right: -1px;
    position: relative;
}

.tabs-right.tabbable-custom>.nav-tabs li.active a {
    border-top: 1px solid #ddd;
    border-right: 1px solid transparent;
}

.tabs-right.tabbable-custom>.nav-tabs li a {margin-left: -1px;}

.tabs-right.tabbable-custom>.nav-tabs li a:hover,
.tabs-right.tabbable-custom>.nav-tabs li a:focus {border-bottom: 1px solid #eee;}

.tabs-right.tabbable-custom .nav-tabs>li a,
.tabs-left.tabbable-custom .nav-tabs>li a {padding: 8px 10px;}

.tabs-left>.nav-tabs>li,
.tabs-right>.nav-tabs>li {float: none;}

.tabs-left>.nav-tabs>li>a,
.tabs-right>.nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {border-color: #ddd transparent #ddd #ddd;}

.tabs-right>.nav-tabs .active>a,
.tabs-right>.nav-tabs .active>a:hover,
.tabs-right>.nav-tabs .active>a:focus {border-color: #ddd #ddd #ddd transparent;}



.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #e6e6e6;
}

.ui-accordion-content{
    padding: 10px !important;   
}

/****************************************************
        Profile Page
******************************************************/
.profileImg{
    width: 98%;
    height: auto;
    padding: 1%;
    background: #f9f9f9;
    border: 1px solid #d9d9d9;
}

.profile-info{
    padding: 10px;
    margin-bottom: 20px;
    background: #f9f9f9;
    border: 1px solid #d9d9d9;
    clear: both;
}

.profile-info .table{
    border-bottom: 1px solid #d9d9d9;
    border-top: none!important;
}

.profile-info .table tr:first-child td{
    border-top: none!important;
}

i.profileImgChange{
    position: absolute;
    top: 2px;
    right: 23px;
    padding: 10px;
    background: #ffffff;
    color: #333333;
}


/****************************************************
                    OTHERS
******************************************************/

.bigError{
    font-size: 10em;
    color: #e73c3c;
}

/***
jqvmap changes
***/
.jqvmap-zoomin {
    background-color: #666 !important;
    padding: 4px !important;
    width: 15px;
    height: 15px;
}

.jqvmap-zoomout {
    background-color: #666 !important;
    padding: 4px !important;
    width: 15px;
    height: 15px;
}

.vmaps {
    position: relative; 
    overflow: hidden;
    height: 300px;
}
.control-label {
    font-weight: normal;
    padding-top: 9px;
    width: 39%;
   
}
.control-label1 {
    font-weight: normal;
    padding-top: 9px;
    width: 39%;
  
}


/***
Login page
***/

/* logo page */
.login {
  background-color: #eeeeee !important;
}

.login label.control-label {
color: #333;
}
.login .logo {
  
  margin: 0 auto; 
  padding: 15px;
   padding-top:120px;
  text-align: center;
}  

.login .content {
  background: #fff;
  width: 291px;
  margin: 0 auto; 
  padding: 30px;  
  padding-top: 20px;  
  padding-bottom: 15px; 
  border: 1px solid #e1e1e1;
}

.login .content h3.form-title {
  color: #000;
  font-size: 20px;
}
.login .content h4  {
  color: #555;
}

.login .content p {
  color: #333;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .m-wrap {
  width: 249px;
  border-left: 0 !important;
}

.input-icon.left {
  display: inline-block;
  width: 100%;
}


.login .content .input-icon {
  border-left: 2px solid #00627c !important;
  display:inline-block;
  width:100%;
}

.login .content .control-group {
  margin-bottom: 20px !important;
}

.login .content .input-icon .m-wrap {  
  margin: 0px !important;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.login .content .form-actions {
  clear: both;
  border: 0px;
  border-bottom: 1px solid #e1e1e1;
  padding: 0px 30px 6px 30px;
  margin-left: -20px;
  margin-right: -20px;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}  

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
  color: #333;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 0px;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}
.btn.green.lefts {
    margin-left: 35px;
}
 .col-md-5.control-label2 {
    margin-left: 25px;
    margin-top: 9px;
    width: 39%;
}

 .col-md-5.control-label3 {
    padding-left: 70px;
}

 .col-md-5.control-label3a {
    padding-left: 63px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

.login .copyright {
  text-align: center;
  width: 350px;
  margin: 0 auto; 
  padding: 10px 10px 0 10px;
  color: #fff;
  font-size: 11px;
}



/***
Dashboard stats
***/
.dashboard-stat {
  margin-bottom: 25px;
}

.dashboard-stat:before,
.dashboard-stat:after {
  display: table;
  line-height: 0;
  content: "";
}
.dashboard-stat:after {
  clear: both;
}

.dashboard-stat .visual {
  width: 80px;
  height:80px;
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 15px;
}

.dashboard-stat .visual i {
  font-size: 65px;
  color: #fff;
}

.dashboard-stat .details {
  float: right;
  padding-right: 10px;
}

.dashboard-stat .details .number {    
  padding-top: 25px;
  text-align: right;
  font-size: 34px;
  letter-spacing: -1px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 10px;
}

.dashboard-stat .details .desc {
  text-align: right;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 300;
  color: #fff;
}

.dashboard-stat .more {
  clear: both;
  display: block;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  color: #fff;  
  opacity: 0.7;  
  filter: alpha(opacity=70);
}  

.dashboard-stat .more i {
  margin-top: 4px;
  float: right;
}

.dashboard-stat .more:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 1;  
  filter: alpha(opacity=100);
}

.dashboard-stat.blue {
  background-color: #00ccff;
}

.dashboard-stat.blue .more { 
  background-color: #10abd2;
} 

.dashboard-stat.green {
  background-color: #85c744;
}

.dashboard-stat.green .more { 
  background-color: #73b235;
} 

.dashboard-stat.red {
  background-color: #fb6767;
}

.dashboard-stat.red .more { 
  background-color:#e75454;
} 

.dashboard-stat.yellow {
  background-color: #ffd200;
}

.dashboard-stat.yellow .more { 
  background-color: #f2ca0e;
} 

.dashboard-stat.purple {
  background-color: #c72fff;
}

.dashboard-stat.purple .more { 
  background-color: #9c10cf;
} 

div.portlet.dashboardPort{
    background: #ffffff;
    border: 1px solid #dddddd;
}

div.portlet.dashboardPort .portlet-title{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    color: #999999;
}

div.portlet.dashboardPort .portlet-title .caption{
    font-size: 15px;
}

div.portlet.dashboardPort .portlet-body{
    padding: 0px 10px 10px 10px;
}

.list-friends li{
    padding-bottom: 10px;
    padding-top: 10px;
}

.list-friends .dashFriends{
    width: 28px;
    height: 28px;
    padding: 2px;
    border: 1px solid;
    margin-right: 15px;
}

.list-friends li a{
    font-size: 15px;
    font-style: italic;
    text-decoration: none;
    color: #999999;
}

/*status Style color*/
.list-friends li.online img.dashFriends{
    border-color: #85c744;
}

.list-friends li.offline img.dashFriends{
    border-color: #f26c4f;
}

.list-friends li.dnd img.dashFriends{
    border-color: #ffd200;
}

.list-friends li.away img.dashFriends{
    border-color: #adadad;
}



.report  {
background: #eee;
width: 380px;
margin: 0 auto;
padding: 20px;
padding-top: 2px;
/* padding-bottom: 0px; */
border: 1px solid #e1e1e1;
margin-top: 130px;
min-height: 156px;
border-radius: 15px !important;
-webkit-box-shadow: 5px 5px 5px #666;
/* box-shadow: 5px 5px 5px #666; */
}

.link-button {
    margin:0 auto; width: 307px; margin-top:26px;margin-right: 0px;margin-bottom: -26px;
}
/*Added for ReviewMonthly and overall report*/
.boxs-new  {
background: #fff;
width: 420px;
margin: 0 auto;
padding:0 20px;
padding-top: 2px;
border: 1px solid #e1e1e1;
margin-top: 5px;
min-height: 156px;
-webkit-box-shadow: 5px 5px 5px #666;
/* box-shadow: 5px 5px 5px #666; */
}

.review-title {
    margin: 0 auto; font-family:Arial, Helvetica, sans-serif; font-size: 19px; margin-top:25px; text-align:center; font-weight:bold;
}

.review-title-reports {
margin: 0 auto;

font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
text-align: left;
font-weight: bold;
text-align:center;
}


.review-title-reports1 {
    margin: 0 auto;  font-family:Arial, Helvetica, sans-serif; font-size: 16px;  text-align:left; font-weight:bold; text-align:center;
}
/***
Charts and statistics
***/
.chart, .pie, .bars {
  overflow: hidden;
  height: 300px;
}

/***
Statistic lists
***/
.item-list.table .percent {
  width: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}

.item-list.table .title {
  padding-top: -5px;
}

/***
Chart tooltips
***/
.chart-tooltip {
  clear: both;
  z-index: 100;
  background-color: #736e6e !important;
  padding: 5px !important;
  color: #fff;
}

.chart-tooltip .label {
  clear: both;
}

/***
Mini chart containers
***/
.bar-chart {
  display: none
}

.line-chart {
  display: none
}

#sparklinePie{
    width: 150px;
    margin: 20px auto;
}

.jqstooltip{ 
    width: auto;
    height:25px!important;
    padding-right: 15px !important;
}

/***
Chats
***/
.chats {
    margin:0;
    padding: 0;
    margin-top: -15px;
}

.chats li {
    list-style: none;
    padding: 5px 0;
    margin: 10px auto;
    font-size: 12px;
}

.chats li img.avatar {
    height: 45px;
    width: 45px;
}

.chats li.in img.avatar {
    float: left;
    margin-right: 10px;

}

.chats li .name {
    color:#3590c1;
    font-size: 13px;
    font-weight: 400;
}

.chats li .datetime {
    color:#333;
    font-size: 13px;
    font-weight: 400;
}

.chats li.out img.avatar {
    float: right;
    margin-left: 10px;
}

.chats li .message {
    display: block; 
    padding: 5px;
    position: relative;
}

.chats li.in .message {
    text-align: left;
    border-left: 2px solid #85c744;
    margin-left: 65px;
    background: #fafafa 
}

.chats li.in .message .arrow {
    display: block;
    position: absolute;
    top: 5px;
    left: -8px;  
    width: 0; 
    height: 0; 

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;  
    border-right: 8px solid #85c744;  
}

.chats li.out .message .arrow {
    display: block;
    position: absolute;
    top: 5px;
    right: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;  
    border-left: 8px solid #fb6767;  
}

.chats li.out .message {
    border-right: 2px solid #fb6767;
    margin-right: 65px;
    background: #fafafa;
    text-align: right;
}

.chats li.out .name, 
.chats li.out .datetime  {  
    text-align: right;
}

.chats li .message .body {
    display: block; 
}

.chat-form {
    margin-top: 15px;
    padding: 10px;
    background-color: #e9eff3;
    clear: both;   
}

.chat-form .input-cont {
    margin-right: 55px;
}

.chat-form .input-cont .m-wrap {
    margin-bottom: 0px;
}

.chat-form .input-cont input{
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 0;
}

.chat-form .input-cont input {
    background-color: #fff !important;
}

.chat-form .input-cont input:focus{
    border: 1px solid #4b8df9 !important;
}

.chat-form .btn-cont {
    margin-top: -42px;
    position: relative;
    float: right;
    width:44px;
}

.chat-form .btn-cont .arrow {
    position: absolute;
    top: 17px;
    right: 43px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;  
    border-right: 8px solid #00ccff;   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.chat-form .btn-cont:hover .arrow {
    border-right-color: #02bfee;
}

.chat-form .btn-cont:a .arrow {
    border-right-color: #02bfee;
}

.chat-form .btn-cont:hover .btn {
    background-color: #02bfee;
}

.chat-form .btn-cont .btn {
    margin-top: 8px;
}



/***********************************************************/
.icheckbox_minimal,
.iradio_minimal{
    float: left;
    margin-right: 10px;
}

.bootstrap-timepicker-hour,
.bootstrap-timepicker-minute,
.bootstrap-timepicker-meridian{
    border: 1px solid #999999;
    width: 50px !important;
}


/***
CKEditor css changes
***/
.cke_bottom, 
.cke_inner, 
.cke_top, 
.cke_reset, 
.cke_dialog_title,
.cke_dialog_footer,
.cke_dialog {
  background-image: none !important;
  filter:none !important; 
  border-top: 0 !important;
  border-bottom: 0 !important;
   -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
           box-shadow: none !important;
  text-shadow:none !important;
}

.cke_dialog_ui_button,
.cke_dialog_tab {
  background-image: none !important;
  filter:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow:none !important;
}

.cke_dialog_ui_button:hover,
.cke_dialog_tab:hover {
  text-decoration: none;
  text-shadow:none !important;
}

.cke_dialog_ui_input_text {
  background-image: none !important;
  filter:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.cke_combo_button, 
.cke_button, 
.cke_toolbar, 
.cke_toolgroup {
  background-image: none !important;
  filter:none !important;
  border: 0 !important;
   -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.cke_button, 
.cke_combo_button,
.cke_panel_grouptitle,
.cke_hc.cke_panel_listItem a {  
  background-image: none !important;
  filter:none !important;
  text-shadow:none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

.cke_button:hover, 
.cke_combo_button:hover {  
  background-color: #ddd;
}

.cke_toolbar_break {
  background-image: none !important;
  filter:none !important;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow : none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
}


.invoice .invoice-nr {font-size: 15px;}

.invoice .invoice-date {
    color: #888;
    margin-top: -5px;
}

/* Calendar */
#calendar th.fc-widget-header{
    background: #999999;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
}

.fc-widget-header, .fc-widget-content {
    border-color: #999999;
}

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}



/*table.draggable th{
    cursor: move;
}*/


.invoice .amount {font-size: 15px;}

.invoice .amount .total {
    padding-top: 7px;
    margin-top: 7px;
    font-size: 18px;
}

.col-md-7 > div {
    width: 100%;
}

.col-md-9 > div {
    width: 100%;
}
.greendark {background: #20b2aa; /*#006780;*/  /*#008B8B;*/
color: #333;
/*font-weight: 900;*/
font-size:13px;
border-color:#333;
}
.greendarkSubFamSum {background: #006780; /*#008B8B;*/
color: #fff;
/*font-weight: 900;*/
}
.greendarkFaamily {background: #00ccff; /*#006780;*/
color: #fff;
font-weight: 900;
border-color: #00ccff;
}
.color_1 {background:#E8D0A9;
color: #333;}
.color_2 {background:	#BFBFBF;/*#B7AFA3;*/
color: #333;}
.color_3 {background:#C1DAD6;
color: #333;}
.color_4 {background:	#F5FAFA;
color: #333;}
.color_5 {background:	#ACD1E9;
color: #333;}
.color_6 {background:#6D929B;
color: #333;}
.color_7 {background:#7D9C9F;
color: #333;}
.color_8 {background:#BDD8DA;
color: #333;}
.color_9 {background:#DFEFF0;
color: #333;}
.color_10 {background:#ECECEC;
color: #333;}
.color_11 {background:	#B1B1B1;
color: #333;}

.color_Product1 {background:	#e1e1e1;}
.color_Product2 {background:	#ffffff;}

.heading1 { background:#333; color:#fff !important; border-color: #333;}
.heading2 { background:#333; color:#fff !important; border-color: #333;}
.heading3 { background:#333; color:#fff !important; border-color: #333;}
.heading4 { background:#333; color:#fff !important; border-color: #333;}
.heading5 { background:#333; color:#fff !important; border-color: #333;}
.heading6 { background:#333; color:#fff !important; border-color: #333;}
.heading7 { background:#333; color:#fff !important; border-color: #333;}

@media print {
    .crumbs, 
    .page-header, 
    #sidebar, 
    .invoice .btn {display: none;}
}

.TotalRowGrid {
    background:#766363;
    color: #fff;
    font-weight:bolder;
    }
.TotalRowGridHead {
    /*background:#766363;*/
    color: #fff;
    font-weight:bolder;
    /*border-color: #766363;*/
    font-size:16px;
    padding:1px;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    }
.subTotalRowGrid {
    background: rgba(232, 208, 169, 0.43);    
    /*background:#E8D0A9;*/
    color: #000;
    font-weight:bolder;
    }
.MainTotal {
        background: #E0FFFF;
    padding: 5px;
    color: #000;
    /*background: #FFA500;
padding: 5px;
color: #fff;*/
}
.textboxEdit {
width: 80px;
/* padding: 3px; */
height: 31px;
margin-bottom: -2px;
margin-left: -3px;
margin-right: -3px;
margin-top: -2px;
background-color: antiquewhite;
}

/*Grid Design */
.GridviewScrollC1Header TH, .GridviewScrollC1Header TD 
{ 
    padding: 5px; 
    font-weight: bold; 
    white-space: nowrap; 
    border-right: 1px solid #CCCCCC; 
    border-bottom: 1px solid #CCCCCC; 
    background-color: #999999; 
    color:#FFFFFF; 
    text-align: left; 
    vertical-align: bottom; 
} 
.GridviewScrollC1Item TD 
{ 
    padding: 5px; 
    white-space: nowrap; 
    border-right: 1px solid #CCCCCC; 
    border-bottom: 1px solid #CCCCCC; 
    background-color: #FFFFFF; 
} 
.GridviewScrollC1Pager  
{ 
    border-top: 1px solid #AAAAAA; 
    background-color: #FFFFFF; 
} 
.GridviewScrollC1Pager TD 
{ 
    padding-top: 3px; 
    font-size: 14px; 
    padding-left: 5px; 
    padding-right: 5px; 
} 
.GridviewScrollC1Pager A 
{ 
    color: #666666; 
} 
.GridviewScrollC1Pager SPAN 
{ 
    font-size: 16px; 
    font-weight: bold; 
}

.bordertd {
    border-style:none;
    border-color:white;
    border-width:0px;
}

.gridchekedTextbox {
font-weight: bolder;
color: rgb(255, 255, 255);
background-color: rgb(255, 0, 0);
}
.form-control-input {
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    padding: 4px 16px ;
    -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}
.productLabel{
    /*float:left;*/
       
}
.HidingHeading {
    background-color:#ebeef5;
    border-color:#ebeef5;
    color:#ebeef5;
    font-weight:bolder;
    font-size:15px;
    padding:13px;
    height:25px !important;
}
.TotalRowGridHead1 {
    /*background:#766363;*/
    color: #fff;
    font-weight:bolder;
    /*border-color: #766363;*/
    font-size:15px;
    padding:4px !important;
    
    }


.product_row_hide {
    display:none;
}
.budget_form_label{
    float:left;
    text-align : left;
    width:50%;
}
.greendarkDashboard {
    background: #006780;  /*#008B8B;*/
    color: #fff;
    font-weight: 600;
    font-size:13px;
    border-color:#fff;
    height: 40px;
    }
  .MainHeader {
            /*background-color:#003746 !important;*/
        }

.title_bedcrum {
    text-align:right; 
    width:38.3333%;
    font-family:Arial;
    font-size:16px !important; font-weight:bold;
}
.tdHighlight {
    background: rgba(255, 245, 192, 1) !important;
    font-weight: 900;
}

 .valuebud {
            text-align:right;
        }

 #MainContent_grdviewAllValues td {
            text-align : center;
         }

  img#MainContent_Editmailexists {
            margin-top: -23px;
  margin-right: 6px;
        }

        img#MainContent_Editmailnotexits {
            margin-top: -23px !important;
  margin-right: 6px;
        }
#product_image {
    cursor:pointer;
}
.filter_panel {
     background-color: #EBF4FA;
    padding: 10px;
    webkit-box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
    -moz-box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
    box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
    border-radius: 5px !important; 
}

.rbtn_panel {
       list-style: none;
    width: 198px;
    padding: 0px 2px 0px 9px;     margin-bottom: 0px;
        background-color: #006780;
    border-color: #006780
}
       
.control-gp {
            width: 50%;
            padding-top: 25px;
            padding-bottom: 10px;
        }